.git
.github
**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/.DS_Store
doc/
docs/
debian/
setup/win32/
*.md
!README.md
.weblate.json
CONTRIBUTING.md
COPYRIGHT
SECURITY.md
ruff.toml
setup.cfg
MANIFEST.in
.cursor
tmp/
filestore/
*.egg-info
node_modules/
custom_addons/rasd/
custom_addons/helpdesk_community_pro/
