[options]
admin_passwd = ${ADMIN_PASSWD}
db_host = ${DB_HOST}
db_port = ${DB_PORT}
db_user = ${DB_USER}
db_password = ${DB_PASSWORD}
db_name = ${DB_NAME}
db_filter = ${DB_FILTER}
list_db = ${LIST_DB}
http_port = ${HTTP_PORT}
proxy_mode = ${PROXY_MODE}
workers = ${WORKERS}
data_dir = ${ODOO_DATA_DIR}
logfile = ${LOGFILE}
log_level = info
addons_path = /usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons
without_demo = all
server_wide_modules = base,web
gevent_port = 8072
max_cron_threads = 1
limit_time_cpu = 120
limit_time_real = 240
limit_memory_soft = 2147483648
limit_memory_hard = 2684354560
